<h1 id="tableLabel">Arbres</h1>

<p>Liste d'arbres remarquables d'alignement à Paris</p>

<p *ngIf="!trees"><em>Loading...</em></p>


<div class="input-wrapper">
  
  <button *ngIf='isSortedAsc' (click)="filterSort()">Trier du plus récent au plus ancien</button>
  <button *ngIf='!isSortedAsc' (click)="filterSort()">Trier du plus ancien au plus récent</button>
  
  <div class="filter-arbre">
    <span>Choisir un arbre</span>
    <select name="" id="" [(ngModel)]="nameSelected" (ngModelChange)="onChange($event)">
      <option *ngFor="let tree of typeTrees" value="{{tree}}">{{tree}}</option>
    </select>
  </div>

</div>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="trees">
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Année Plantation</th>
      <th>Hauteur en m</th>
      <th>Stade Developpement</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tree of trees" class="rowClickable" [routerLink]="['/details-tree/', tree.recordid]">
      <td>{{ tree.fields.libellefrancais }}</td>
      <td>{{ tree.fields.dateplantation | date:'yyyy'}}</td>
      <td>{{ tree.fields.hauteurenm }}</td>
      <td>{{ tree.fields.stadedeveloppement }}</td>
    </tr>
  </tbody>
</table>

